  <div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
  <section class="main-header">
            <div id="notice" class="bg-success"><%= notice %><%= alert %></div>
  </section>
      <h1>Instagramっぽいやつ</h1>
    <div class="row">

    <div class="col-md-6"><img src="<%= asset_path "IPhone-Apple-PNG-File.png" %>">
    </div>
    <div class="col-md-6 center">
    <p><%= link_to "写真を投稿する", new_photo_path, class: 'btn btn-default' %>
    </p>
    <div>
    <% if user_signed_in? %>
         <p><%= link_to 'マイページ', edit_user_registration_path , class: 'btn btn-default' %></p>
         <p><%= link_to 'ログアウト', destroy_user_session_path, method: :delete , class: 'btn btn-default' %>
         </p>
         <% else %>
         <p>
         <%= link_to 'ログイン', new_user_session_path , class: 'btn btn-default' %>
         </p>
         <p><%= link_to 'サインアップ', new_user_registration_path , class: 'btn btn-default' %></p>
          <% end %>
    </div>
</div>
</div>
</div>
</div>
