<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
<p><%= notice %></p>

<h1>Photo一覧</h1>

<p><%= link_to "写真を投稿する", new_photo_path, class: 'btn btn-default' %></p>
 <div class="row">
<% @photos.each do |photo| %>

  <div class="col-md-4 photo">
  <p><strong>タイトル:<%= photo.name %></strong></p>
  <p><strong>投稿者:<%= photo.user.name %></strong></p>
  <div class="field">
    <% if photo.image? %>
      <div class="thumbnail">
        <%= image_tag photo.image.url %>
      </div>
    <% end %>
  </div>

  <%= link_to "写真を編集する", edit_photo_path(photo.id) %>
  <br>
  <%= link_to "写真を削除する", photo_path(photo.id), method: :delete, data: { confirm: '本当に削除していいですか？'} %>
  </div>

<% end %>
  </div>


  </div>
</div>